#main-v{
    height: 440px;
    background-color: $default-bgc;
}
#about{
    background-color: $default-bgc;
    height: 570px;
}
#skill{
    background-color: $default-bgc;
    height: 570px;
}
#works{
    background-color: $default-bgc;
}
#contact{
    background-color: $default-bgc;
}
